html {
  font-size: 62.5% !important;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  border-radius: 1.6rem;
  border: 1px solid #fff;
}

.fz-0 {
  font-size: 0rem;
}
.fz-14 {
  font-size: 1.4rem;
}
.fz-16 {
  font-size: 1.6rem;
}
.fz-20 {
  font-size: 2rem;
}
.fz-32 {
  font-size: 3.2rem;
}
.fz-48 {
  font-size: 4.8rem;
}
.fz-80 {
  font-size: 8rem;
}
.fz-120 {
  font-size: 12rem;
}

.fw-400 {
  font-weight: 400;
}
.fw-700 {
  font-weight: 700;
}
.fw-900 {
  font-weight: 900;
}

.lh-1 {
  line-height: 1;
}
.lh-12 {
  line-height: 1.2;
}
.lh-15 {
  line-height: 1.5;
}

.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}

.mb-4 {
  margin-bottom: 0.4rem;
}
.mb-8 {
  margin-bottom: 0.8rem;
}
.mb-12 {
  margin-bottom: 1.2rem;
}
.mb-20 {
  margin-bottom: 2rem;
}
.mb-24 {
  margin-bottom: 2.4rem;
}
.mb-40 {
  margin-bottom: 4rem;
}
.mb-78 {
  margin-bottom: 7.8rem;
}
.mb-80 {
  margin-bottom: 8rem;
}
.mb-100 {
  margin-bottom: 10rem;
}
.mb-160 {
  margin-bottom: 16rem;
}

.py-20 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-32 {
  padding-top: 3.2rem;
  padding-bottom: 3.2em;
}
.py-40 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-80 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.py-160 {
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}
.px-32 {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}
.px-40 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.qx-12 > :not(:last-child) {
  margin-right: 1.2rem;
}
.qx-16 > :not(:last-child) {
  margin-right: 1.6rem;
}
.qx-20 > :not(:last-child) {
  margin-right: 2rem;
}
.qx-24 > :not(:last-child) {
  margin-right: 2.4rem;
}

.qy-8 > :not(:last-child) {
  margin-bottom: 0.8rem;
}
.qy-12 > :not(:last-child) {
  margin-bottom: 1.2rem;
}
.qy-16 > :not(:last-child) {
  margin-bottom: 1.6rem;
}
.qy-20 > :not(:last-child) {
  margin-bottom: 2rem;
}
.qy-24 > :not(:last-child) {
  margin-bottom: 2.4rem;
}

.bg-black-100 {
  background-color: #020202;
}
.bg-black-80 {
  background-color: #525252;
}
.bg-black-60 {
  background-color: #919191;
}
.bg-black-40 {
  background-color: #d1d1d1;
}
.bg-black-20 {
  background-color: #f2f2f2;
}
.bg-black-0 {
  background-color: #ffffff;
}

.black-100 {
  color: #020202;
}
.black-80 {
  color: #525252;
}
.black-60 {
  color: #919191;
}
.black-40 {
  color: #d1d1d1;
}
.black-20 {
  color: #f2f2f2;
}
.black-0 {
  color: #ffffff;
}

.hidden {
  display: none;
}

.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inlineBlock {
  display: inline-block;
}

.border {
  border: 1px solid #fff;
}
.border-bottom {
  border-bottom: 1px solid #fff;
}
.border-top {
  border-top: 1px solid #fff;
}

.overflow-hidden {
  overflow: hidden;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  font-family: "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.button:hover {
  background-color: #fff;
  color: #1e1e1e;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.animation-item {
  width: 180px;
}

.serviceCard {
  padding: 8rem 4rem;
  border: 1px solid #525252;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.serviceCard .card-img {
  width: 25%;
  margin-bottom: 2rem;
}
.serviceCard .card-title {
  font-size: 3.2rem;
  font-weight: 900;
  text-align: left;
  margin-bottom: 2rem;
}
.serviceCard .card-content {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
}

.mask {
  position: relative;
}
.mask:first-child::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #aaa;
  left: 0;
  top: 0;
  background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.mask:last-child::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #aaa;
  right: 0;
  top: 0;
  background: linear-gradient(to left, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.evaluation-card {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 1.6rem;
}
.evaluation-star {
  display: flex;
  margin-bottom: 2rem;
}
.evaluation-content {
  line-height: 1.5;
  font-size: 1.6rem;
  text-align: left;
  font-weight: 400;
  margin-bottom: auto;
}
.evaluation-partner {
  display: flex;
  align-items: center;
}
.evaluation-partner img {
  margin-right: 1.6rem;
}

.partner-info {
  text-align: left;
}
.partner-name {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
}
.partner-company {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
}

.AIcard {
  width: calc(33.33% - 2.4rem);
  max-width: 416px;
  border: 1px solid #F2F2F2;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}
.AIcard-img {
  transform-origin: center;
  transition: 0.3s;
}
.AIcard:hover .AIcard-img {
  transform: scale(1.2);
}
.AIcard-body {
  padding: 2rem 3.2rem;
  margin-bottom: auto;
}
.AIcard-title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1.2rem;
}
.AIcard-text {
  color: #525252;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}
.AIcard-footer {
  text-align: center;
  line-height: 1.5;
}
.AIcard-list-group-item {
  border: none;
  display: flex;
  justify-content: space-between;
  border-top: #F2F2F2 1px solid;
  padding: 2rem 3.2rem;
}

.row > * {
  padding-left: 0rem;
  padding-right: 0rem;
}

.item-model {
  font-size: 1.6rem;
}
.item-name {
  font-size: 1.6rem;
  font-weight: 400;
}

.hashtag {
  cursor: pointer;
  color: #020202;
  font-size: 1.6rem;
  font-weight: 400;
}

.share-icon {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .AIcard {
    width: calc(50% - 2.4rem);
  }
}
@media screen and (max-width: 414px) {
  .AIcard {
    width: 100%;
    margin-bottom: 1.2rem;
  }
}/*# sourceMappingURL=main.css.map */