// 補充bootstrap裡面沒有的text setting
.fz{
  &-0{
    font-size: 0rem;
  }
  &-14{
    font-size: 1.4rem;
  }
  &-16{
    font-size: 1.6rem;
  }
  &-20{
    font-size: 2.0rem;
  }
  &-32{
    font-size: 3.2rem;
  }
  &-48{
    font-size: 4.8rem;
  }
  &-80{
    font-size: 8.0rem;
  }
  &-120{
    font-size: 12.0rem;
  }
}
.fw{
  &-400{
    font-weight: 400;
  }
  &-700{
    font-weight: 700;
  }
  &-900{
    font-weight: 900;
  }
}

.lh{
  &-1{
    line-height: 1.0;
  }
  &-12{
    line-height: 1.2;
  }
  &-15{
    line-height: 1.5;
  }
}

.ta{
  &-l{
    text-align: left;
  }
  &-c{
    text-align: center;
  }
  &-r{
    text-align: right;
  }
}