// 補充bootstrap裡面沒有的text setting
.fs{
  &-160{
    font-size: 160px;
  }
  &-120{
    font-size: 120px;
  }
  &-80{
    font-size: 80px;
  }
  &-48{
    font-size: 48px;
  }
  &-32{
    font-size: 32px;
  }
  &-20{
    font-size: 20px;
  }
  &-14{
    font-size: 14px;
  }
}